{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url({{ asset('bundles/app/style/sad_box2.jpg') }});
            background-repeat: no-repeat;

            background-size: cover;
            color: green;


        }
    </style>

{% endblock %}
{% block body %}
    <div style="margin-bottom:250px">
    <h1 style="color:#8888f2">Serverio klaida</h1>
    <p>

        <a href="{{ path('homepage') }}" style="color:white">Grįškite į pagrindinį puslapį</a>.
    </p>
    </div>
{% endblock %}