
{% extends "@App/layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>

        .box {

            float: left;
            width: 45%;
            margin: 1em;
            /*background-color: red;*/
        }

        h5 {
            font-family: "museo-sans",sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #D49637;
            letter-spacing: .07em;
            line-height: 1;
            margin-bottom: 4px;
        }

        p {
            margin: 0 0 20px 0;
            line-height: 26px;
        }

        dd {
            display: block;
        }

        .social-links a {
            text-indent: -119988px;
            overflow: hidden;
            text-align: left;
            background-image: url(http://combadi.com/static/img/icons.png?1381413743);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
            width: 32px;
            height: 48px;
            margin-right: 5px;
        }

        .social-links a.fb {
            background-position: -592px -72px;
        }

        .social-links a.tt {
            background-position: -592px -8px;
        }
    </style>

{% endblock %}

{% block body %}


    <div class="box">
        <p><h2>Kontaktai</h2></p><br>

        <h5>El. Paštas </h5>
        <p>info@globalus.projektai.nfqakademija.lt</p>
        <h5>Telefono numeris</h5>
        <p>+370 555 43334</p>
        <dd class="social-links">
            <a class="fb" href="http://www.facebook.com/" title="Find us on Facebook">Facebook</a>
            <a class="tt" href="http://twitter.com/" title="Find us on Twitter">Twitter</a>
        </dd>
    </div>

    <div class="box">
        <p><h2>Palikite atsiliepimą</h2></p><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}