
{% extends "@App/layout.html.twig" %}

{% block body %}

    <div style="margin: 20px 20px;">
        <h2>Sėkmingai užpildyta</h2>
        <script>document.ready(window.setTimeout(location.href = "http://192.168.4.100/app_dev.php/",10));</script>

    </div>


{% endblock %}
