

{% block body %}
    <style>
        .bCrumb{
            color:green;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #breadcrumbs-three{
            overflow: hidden;
            width: 100%;
        }

        #breadcrumbs-three li{
            float: left;
            margin: 0 2em 0 0;
        }

        #breadcrumbs-three a{
            padding: .7em 1em .7em 2em;
            float: left;
            text-decoration: none;
            color: #444;
            background: #ddd;
            position: relative;
            z-index: 1;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
            border-radius: .4em 0 0 .4em;
        }

        #breadcrumbs-three a:hover{
            background: #abe0ef;
        }

        #breadcrumbs-three a::after{
            background: #ddd;
            content: "";
            height: 2.5em;
            margin-top: -1.25em;
            position: absolute;
            right: -1em;
            top: 50%;
            width: 2.5em;
            z-index: -1;
            transform: rotate(45deg);
            border-radius: .4em;
        }

        #breadcrumbs-three a:hover::after{
            background: #abe0ef;
        }

        #breadcrumbs-three .current,
        #breadcrumbs-three .current:hover{
            font-weight: bold;
            background: none;
        }

        #breadcrumbs-three .current::after{
            content: normal;
        }
    </style>


    <ul id="breadcrumbs-three">
        <li class="BreC"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="BreC"><a href="{{ path('search') }}" >Testai</a></li>
        <li class="BreC"><a href="#">Testas</a></li>
    </ul>
    <br /><br />


    <!-- Prefixfree -->
    <script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
    <script type="text/javascript" >

        var pagename= location.pathname.split('/').pop();
        var pageNameSecondLast = location.pathname.split('/')[location.pathname.split('/').length-2];
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {

                if (pagename=="search"||pageNameSecondLast=="search"){
                    $('li.BreC').removeClass('current');
                    $('li.BreC').eq(1).addClass('current');
                }

            }
        };



    </script>
{% endblock %}
