


{% block body %}
    {% if tests is empty %}
        <h4>Nėra testų</h4>
    {% else %}

        <ol id="user-list-div" class="rectangle-list">
            {% for test in tests %}
                <li id = "user-table">

                    <a class="w3-tooltip" href="{{ path('search') }}/{{ test.id }}">{{ test.name }}<span
                                style="position:absolute;left: -40px;bottom: 30px;background: black;"
                                class="w3-text w3-tag">Aprašymas: {{ test.description }}</span>
                    </a>

                </li>
            {% endfor %}

        </ol>
        <div id="user-pagination">
            {% include "AppBundle:Home:paginating.html.twig" %}
        </div>
    {% endif %}
<script>


</script>
{% endblock %}
