<!-- Sidebar -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">

            <a href="{{ path('adminHome') }}">
                Testuok! Admin
            </a>



        </li>
        <li>
            {% if app.user.username is defined %}
                <p>{{ app.user.username }}</p>
            {% endif %}
        </li>
        <li>
            <a  href="{{ path('users') }}"><span class="navig">Vartotojai</span></a>
        </li>

    </ul>
    <script type="text/javascript" >


        var pagename= location.pathname.split('/').pop();
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {

                if(pagename==""){

                    $('.navig').removeClass('active');
                }
                else if (pagename=="user"){
                    $('.navig').removeClass('active');
                    $('.navig').eq(0).addClass('active');
                }

            }
        };



    </script>
</div>
<!-- /#sidebar-wrapper -->