<h3>Registraija sėkminga</h3>

Sveiki {{ name }}! Jums pavyko užsiregistruoti.

Prisijungti eikite į: <a href="{{ url('fos_user_security_login') }}">Prisijunkti</a>.

Aktyvuoti paskyrą - <a href="{{ url('homepage') }}confirmUser/{{ token }}">Aktyvuoti</a>

Ačiū!


