<h3>Slaptodžio pakeitimas</h3>


Pasikeisti slaptažodį - <a href="{{ url('homepage') }}resetPassword/{{ token }}">Atstatykite slaptažodį</a>



{# Makes an absolute URL to the /images/logo.png file #}
