<h3>Slaptodžio pakeitimas</h3>


{# TODO change href in server #}
Pasikeisti slaptažodį - <a href="http://192.168.4.100/app_dev.php/resetPassword/{{ token }}">reset password</a>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
