input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    margin-bottom: 15px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
#remember_me{
    display: inline;
    width: auto;
}
label[for=remember_me]
{
    display: inline;
    float: left;
    margin-right: 4px;
    vertical-align: baseline;
    margin-top: 10px;
}
label[for=username]
{
    font-size: 0;
}
label[for="username"]:after
{
    content:'El pašto adresas'; font-size: 14px;
}
label[for="username"].othertext:before{content:'Some other text!'}
.socialLogin{
    display: inline-block;

}
#search {
    border: 1px solid #d1d1d1;
    font: bold 15px Arial,Helvetica,Sans-serif;
    color: darkgreen;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;

}
.buttonP{
    border: 1px solid #d1d1d1;
    font: bold 10px Arial,Helvetica,Sans-serif;
    color: darkgreen;

    padding: 12px 29px 10px 29px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
h2 {
    color: forestgreen;

}
.homeH2{
    padding-left: 40px;
}
#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 550px;
    z-index: -1;
}

.popNew {
    width: 500px;
    margin: 10px
}

ol.popNewList {
    color: #ccc;
    list-style-type: none;
}

ol.popNewList li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 20px;
}

.popNewP {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #555;
    padding-top: 20px;
}

.popNewSpan{
    position: absolute;
}

