{% extends "::base.html.twig" %}
{% block title %}Postai{% endblock %}
{% block body %}

    <div style="margin-bottom: 20px; border-bottom: 1px solid #000;">
        <h1>{{ postas.username}}</h1>
        <p>Registraciaj sėkminga</p>
        <p>Greitu metu gausite el. paštą</p>
       <a href="{{ path('homepage') }}">pradžia </a>
        <hr/>
    </div>

{% endblock %}