<link rel="stylesheet" href={{ asset('bundles/app/style/footer.css') }} />

<nav class="">
    <div class="footer" >
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <h3>Informacija</h3>
                <ul class="list1">
                    <li><a href="{{ path('homepage') }}">Pagrindinis</a></li>
                    <li><a href="{{ path('about') }}">Apie mus</a></li>
                    <li><a href="#">Susisiekite su mumis</a></li>
                    <li><a href="{{ path('app.sendReset') }}">Pamiršote slaptažodį</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3>Testai</h3>
                <ul class="list1">
                    <li><a href="#">Nauji Testai</a></li>
                    <li><a href="#">Populiariausi Testai</a></li>
                    <li><a href="#">Demo Testai</a></li>
                    <li><a href="#">Kurti Testus</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12" >
                <h3>Naujienlaiškis</h3>
                <p class="footer_desc">Pranešime kada pasirodys nauji Testai</p>
                <div class="search_footer">
                    <!-- <input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                     <input type="submit" value="Subscribe"> -->
                    <p style="color: #777">Greitu metu galėsi išbandyti</p>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="copy">
                <p>Copyright &copy; <a href="https://github.com/nfqakademija/Globalus" target="_blank">Globalus</a></p>
            </div>
        </div>
    </div>
</nav>
