
{% extends "@App/Profile/heading.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}

    <div style="margin: 40px 20px;">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-default pull-right" />
        {{ form_end(form) }}
    </div>

{% endblock %}
