
{% extends "@App/Profile/heading.html.twig" %}

{% block content %}

    <div style="margin: 20px 20px;">
        <span>El. paštas : </span><span>{{ app.user.Email}} </span>
        <br>
        <a href="{{ path('homepage') }}">Eiti į pradžia </a>
        <hr/>
    </div>

{% endblock %}
