{% extends "::base.html.twig" %}
{% block title %}Sėkmingas slaptažodžio pakeitimas{% endblock %}
{% block body %}

    <div style="margin-bottom: 100px; border-bottom: 1px solid #000;">
        <h1>{{ user.username}}</h1>
        <p>Sėkmingai pakeistas slaptažodis</p>
       <a href="{{ path('homepage') }}">pradžia </a>
        <hr/>
    </div>

{% endblock %}
