{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}Sukurti naują įrašą{% endblock %}

{% block body %}
    <div>
    <div class="col-lg-4" >
        <div style="margin: 130px 60px;">
            <a href="{{ path('fos_user_security_login') }}">
            <button style="padding: 20px 40px;">

                    <span style="color:green;">Prisijungti</span>

            </button>
            </a>
        </div>
    </div>
    <div class="col-lg-8" style="border-left: thick solid rgba(0, 255, 0, .2);">
        <header><h3 style="text-align: center">Registracija</h3></header>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Registruotis" class="btn btn-default pull-right"/>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
