{% extends "::base.html.twig" %}
{% block title %}Slaptažodis pakeistas{% endblock %}
{% block body %}

    <div style="margin-bottom: 150px;">
        <h1>{{ user.username}}</h1>
        <p>Slaptažodis pakeistas</p>
        <p></p>
       <a href="{{ path('homepage') }}">pradžia </a>
        <hr/>
    </div>

{% endblock %}
