{% extends "::base.html.twig" %}
{% block title %}Sėkminga registracija{% endblock %}
{% block body %}

    <div style="margin-bottom: 100px; border-bottom: 1px solid #000;">
        <h1>{{ user.username}}</h1>
        <p>Registracija sėkminga</p>
        <p>Greitu metu gausite el. paštą</p>
       <a href="{{ path('homepage') }}">pradžia </a>
        <hr/>
    </div>

{% endblock %}
